
<div class="main-box">
  <ng-container [ngSwitch]="testBlockState">
      <ng-container *ngSwitchCase="testBLockEnum.INSTRUCTIONBOX">
          <div class="instructionvox center-aligned text-center">
              <h2 class="test-title" style="margin: 0;">
                  Word Pair Test
              </h2>
              <p>
                  We Present you with a list of word pairs.
              </p>
              <p>
                  For each word pair, you will see the first word of the pair on the left side of the screen
                  and then the second word of the pair on the right side of the screen. Play close attention to each word pair.

              </p>
              <p>
                  Once the list has finished, you will be prompted to recall the second words of each word pair
                  by presenting the first words as prompts. Enter the second word of each word pair into the provided textbox.
              </p>
              <p>
              Start when you ready
              </p>
              <div class="text-center">
              <button class="startbutton" (click)="startTest()">
                  Click Here to Start
              </button>
              </div>
              </div>
      </ng-container>
      <ng-container *ngSwitchCase="testBLockEnum.SHOWPAIRWORD">
          <div class="center-aligned">
              <ng-container *ngIf="firstPairWord">
                  <h4 class="word-pair-text" style="text-align: left;">
                      {{ wordPairTextValue.wordA }}
                  </h4>
              </ng-container>
              <ng-container *ngIf="!firstPairWord">
                  <h4 style="text-align: right;" class="word-pair-text">
                      {{ wordPairTextValue.wordB }}
                  </h4>
              </ng-container>
          </div>
      </ng-container>
      <!-- <ng-container *ngSwitchCase="testBLockEnum.BLANKSCREEN">
      </ng-container> -->
      <ng-container  *ngSwitchCase="testBLockEnum.FILLPAIRWORD">
          <div class="center-aligned enter-word-block">
              <h3 style="margin-bottom: 2rem;">
                  Enter the second word of the pair
              </h3>
              <ng-container>
                  <h4> {{ ansValueText.wordA }}</h4>
              </ng-container>
              <ng-container>
                <div class="input-ans-block">
                  <input type="text" [formControl]="secondWordPair" />
                  <button class="submit-btn" (click)="submitPairValue()">Submit</button>
                </div>

              </ng-container>
          </div>
      </ng-container>
      <ng-container *ngSwitchCase="testBLockEnum.ANSWERRESPONSE">
          <div class="center-aligned enter-word-block" [ngClass]="this.pairAnswer === 'Correct' ? 'success-text' : 'danger-text'">
              <h4>{{ pairAnswer }}</h4>
          </div>
      </ng-container>
      <ng-container *ngSwitchCase="testBLockEnum.SUCCESBLOCK">
          <div class="instructionvox center-aligned text-center"  *ngIf="isShowNextRound">
              <div>
                  <p>
                      We are repeating the same list of word pairs as before. Again, pay close attention to each word pair
                  </p>
                  <p>
                      Just like before, you will be asked to recall the second word of each word pair using the first word as a prompt.
                  </p>

                  <p>
                      You have {{ noOfRound - this.roundData.length }} more rounds to go
                  </p>
                  <p>
                      Start when you ready
                  </p>
                  <button class="startbutton" (click)="nextRound()">
                      Start
                  </button>
              </div>

          </div>
          <div class="thank-you-block center-aligned" *ngIf="!isShowNextRound">
              <img src="assets/images/Smiling_Face_Emoji_grande.png" />
              <button>
                Thank You For Submitting
              </button>
          </div>
      </ng-container>
  </ng-container>
</div>
